*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body,html,#warp{
    width: 100%;
    height: 100%;
}
#warp{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 50px;
    border-bottom: 10px solid #EAEAFD;
    display: flex;
    justify-content: center;
    span{
        height: 48px;
        line-height: 48px;
        border-bottom: 2px solid #fff;
        margin: 0 20px;
    }
    .bg{
        color: #5686F4;
        border-color: #5686F4;
    }
}
.section{
    flex: 1;
    overflow-y: scroll;
    padding: 0 15px;
    dl{
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        dt{
            position: relative;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            line-height: 50px;
            height: 50px;
            padding: 10px;
            string{
                position: relative;
                top: -15px;
                color: #fff;
                font-size: 25px;
                img{
                    width: 24px;
                }
            }
            b{
                font-size: 46px;
                color: #fff;
            }
            span{
                position: absolute;
                bottom: 0px;
                right: 10px;
                color: #fff;
                font-size: 24px;
                text-align: right;
            }
        }
        &:nth-child(1){
            dt{
                background:#FD6060;     
            }
        }
        &:nth-child(2){
            dt{
                background:#5686F4; 
            }
        }
        &:nth-child(3){
            dt{
                background:#965DF5; 
            }
        }
        &:nth-child(4){
            dt{
                background:#4BC670; 
            }
        }
        &:nth-child(5){
            dt{
                background: #4BC670; 
            }
        }
        dd{
            display: flex;
            position: relative;
            width: 100%;
            padding: 5px 10px;
            .right{
                p{
                    line-height: 33px;
                    font-size: 10px;
                    &:nth-child(1){
                        color: #18B073;    
                    }
                }
            }
            ol{
                width: 100%;
                position: absolute;
                top: -14px;
                margin-left: 1.2%;
                li{
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: #fff;
                    margin: 0 1%;   
                }
            }
        }
    }
}